.DS_Store
ZX80_Keyboard_Cherry/fp-info-cache
ZX80_Keyboard_Cherry/kbplacer.log
TS1500_Extender/TS1500_Extender.kicad_prl
/TS1500_Extender/TS1500_Extender-backups
/ZX80_Keyboard_Cherry/ZX80_Keyboard_Cherry-backups
ZX80_Keyboard_Cherry/ZX80_Keyboard_Cherry.kicad_prl
*.lck
*.kicad_prl
ZX81_Centronics/Kicad/fp-info-cache
/ZX81_Centronics/Kicad/ZX81_Centronics-backups
/ZX81_RAM_Upgrade/Kicad/ZX81_32KB-backups
ZX81_RAM_Upgrade/Kicad/fp-info-cache
ZX81_RAM_Upgrade/Kicad/\#auto_saved_files\#
/ZX80_Gaming_Keyboard/ZX80_Gaming_Keyboard-backups
ZX81_Internal_RAM_Upgrade1/Kicad/fp-info-cache
/ZX81_Internal_RAM_Upgrade1/Kicad/ZX81_32KB-backups
ZX80_Gaming_Keyboard/fp-info-cache
Z88_Serial_DE9-to-DB25/fp-info-cache
/Z88_Serial_DE9-to-DB25/Z88_Serial_DE9-to-DB25-backups
Z88_Mechanical_Keyboard/fp-info-cache
/Z88_Mechanical_Keyboard/Z88_Mechanical_Keyboard-backups
/Z88_Serial_DE9_Converter/Z88_Serial_DE9_Converter-backups
/Z88_Mechanical_Keyboard/Rev_B/Z88_Mechanical_Keyboard_Rev_B-backups
Z88_Mechanical_Keyboard/Rev_B/fp-info-cache
/VDriveZ88_Serial_Converter/VDriveZ88_Serial_Converter-backups
VDriveZ88_Serial_Converter/fp-info-cache
VDriveZ88_Serial_Converter/SurfaceMount/fp-info-cache
/VDriveZ88_Serial_Converter/ThroughHole/VDriveZ88_Serial_Converter-backups
/VDriveZ88_Serial_Converter/SurfaceMount/VDriveZ88_Serial_Converter_SMD-backups
/Z88_Mechanical_Keyboard/ANSI/Z88_Mechanical_Keyboard_ANSI-backups
Z88_Mechanical_Keyboard/ANSI/fp-info-cache
VDriveZ88_Serial_Converter/ThroughHole/fp-info-cache
Z88_Flash_ROM/fp-info-cache
/Z88_Flash_ROM/Z88_Flash_ROM-backups
Z88_Mechanical_Keyboard/ISO_Rev_B/fp-info-cache
/Z88_Mechanical_Keyboard/ISO_Rev_B/Z88_Mechanical_Keyboard_Rev_B-backups
Z88_Expansion_Connector_Keyboard/fp-info-cache
/Z88_Expansion_Connector_Keyboard/Z88_Expansion_Connector_Keyboard-backups
/Z88_Mechanical_Keyboard/ISO_Rev_B/Z88_Mechanical_Keyboard_ISO-backups
Z88_ROM_Converter/fp-info-cache
ZX81_Centronics/Vers_2025/fp-info-cache
ZX_Spectrum_Keyboard_Standard/ZX_Spectrum_Keyboard_Standard/fp-info-cache
ZX_Spectrum_Keyboard_Standard/ZX_Spectrum_Keyboard_Standard/freerouting.dsn
